
.clear{
  clear: both;
}

.edit-profile form input{
  border: 1px solid #DDD !important;
  border-radius: 5px !important;
}

@media(max-width: 524px){
  .personal-info{
    margin-top: 30px;
  }
}

/* ================================ */

.user-profile .my-order{
  border: 1px solid #DDD;
  padding: 10px;
  text-transform: capitalize;
  border-radius: 5px;
}

.user-profile .card{
  width: 49%;
  margin-left: 5px;
  float: left;
  margin-top: 20px;
}


.user-profile .card .card-text{
  color: #000 !important;
  margin-bottom: 10px;
}